---
layout: default
---
<header id="home-header" style="background-image: url({{ site.baseurl }}{{ site.sidebar_image }});">
  <div class="container">
    <h1>{{ site.title }}</h1>
    <ul class="meta">
      <li>
        <span>
          {{ site.description }}
        </span>
      </li>
  </div>
</header>
<article>
  <div class="container">
    <ul class="posts">
      {% for post in paginator.posts %}
        <li>
          <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
          <span class="meta">
            {{ post.date | date: '%Y-%m-%d' }}
          </span>
          {{ post.excerpt | strip_html | truncatewords: 50 }}
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="container" role="navigation">
    {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
        <a class="older-posts" href="/">&larr; 이전</a>
      {% else %}
        <a class="older-posts" href="{{ '/page' | append: paginator.previous_page }}">&larr; 이전 포스트</a>
      {% endif %}
    {% endif %}
    <span>Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a class="newer-posts" href="{{ '/page' | append: paginator.next_page }}">다음 &rarr;</a>
    {% endif %}
  </div>
</article>
